[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
croniter = "*"

[dev-packages]
mypy = "*"
coverage = {extras = ["toml"], version = "*"}
arrow = "*"

[requires]
python_version = "3.8"
